
.container-1 {
    background-color: #4d6a6d;
    color: #001524;
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.title {
    font-size: 4em;
    font-weight: bold; 
    margin-top: 10%;
}

.desc {
    margin-top: 2%;
    font-size: x-large;
}

.buttons {
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

.buttons > div > button {
    font-size: large;
    padding: 8px;
}

.container-2 {
    background-color: #4d6a6d;
    color: #001524;
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
}

.about {
    align-items: center;
    text-align: center;
    font-size: 1.2em;
}

.container-3 {
    background-color: #4d6a6d;
    color: #001524;
    width: auto;
    height: 25vh;
    display: flex;
    flex-direction: column;
    gap: 10%;
    align-items: center;
    margin: 0;

}

.contact-info {
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.contact-img {
    height: 10vh;
    width: 100%;
    border-radius: 20px;
}
